<!DOCTYPE html>
<html lang="en"><head>
<title>Tory's Simple Geocoder</title>
<link rel="stylesheet" href="static/css/cyborg.bootstrap.min.css">
</head>
<body>

<div class="container">
<form action="/geocode", method="post">
<div class="jumbotron">
                <h1>Geocode </h1>
                <p>Input an address.  Get JSON geocode results.</p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Put the address you want to geocode here" name="address" id="address">
                    <span class="input-group-btn">
                      <button class="btn btn-primary ladda-button" type="submit" data-style="slide-left"><span class="ladda-label">Submit</span></button>
                    </span>
                  </div>
                  <br>
              </div>
</form>
</div>


</body>
</html>